* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}




/*  header  */

header {
    background-color: white;
    width: 100%;
    box-shadow: 0px 3px 2px -2px gray;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

header .row {
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.list-inline a {
    line-height: 20px;
}

header a {
    color: inherit;
    text-decoration: none;
}

.row {
    display: flex;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu, .login {
    height: 100%;
}

.list-inline {
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
    height: 100%;
}

.list-inline li {
    padding: 0px 15px;
}

.login .list-inline li:last-child {
    padding: 3px 8px;
    background-color: #0061ff;
}

nav li:not(.menu :first-child):hover {

    border-bottom: 2px solid black;
}

/* TODO:mettere la linea al bottom div e non al testo */
/*  header  */



/* main */


main {
    margin-top: 80px;
    position: relative;
    z-index: 3;
}

/* jumbo */
.jumbo {
    background-color: #b4d0e7;
    height: 540px;
    padding: 0px 400px;
}

#title {
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px;
}

.visual {
    height: 300px;
    padding-top: 50px;
    justify-content: center;
}

.box-left {
    width: 350px;
    font-size: 10px;
}

#free-trial {
    width: 150px;
    margin-top: 30px;
    padding: 10px;
    background-color: #0061ff;
    color: white;
}

#undo {
    padding: 30px 0px 60px 0px;
}

#arrow {
    font-size: 45px;
}

#proposta-cliente {
    width: 700px;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/* jumbo */
/*  piano business  */
.mega {
    padding-top: 100px;
    width: 800px;
    margin: auto;

}

.find {
    font-size: 25px;
    font-weight: 700;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.piano-pagamenti {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    display: flex;

}

.mth {
    padding-right: 30px;
}

.fa-circle {
    color: gray
}

.fa-circle:hover {
    color: blue;
}



.scatola {
    margin: 0 auto;
    max-width: auto;

}

.products {
    flex-wrap: wrap;
    gap: 30px 20px;
    padding: 60px 0px;


}

.product {
    width: calc(100% / 3 - 20px);
    border: 1px solid black;
    margin: auto;
    height: 1000px;


}

.who {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    padding: 10px 0px;
}

.fa-user, .fa-folder, .fa-share-nodes {
    padding-right: 5px;
}

section li {
    color: inherit;
    text-decoration: none;
}

.pt1 {
    line-height: 35px;
}

.pt2 {
    min-height: 300px;
}

.pt1, .pt2, .pt3 {
    list-style: none;
    padding: 30px 20px 40px 20px;

}

.fa-solid {
    margin: 0px 5px;
}

.opzione {
    font-size: 20px;
    font-weight: 600;
}

.prezzo {
    font-size: 13px;
    font-weight: bold;
}

.tempo {
    color: gray;
}

.ft-days {
    padding: 10px;
    background-color: #0061ff;
    color: white;
    width: 80%;
    margin: auto;
    font-size: 13px;
}

.buy-now {
    padding: 20px 0px 20px 20px;

}

.sali {
    font-size: 13px;
    font-weight: bold;
}

hr {
    color: black;
    width: 50px;
    margin-left: 20px;
}

.fa-check {
    color: #0061ff;
    padding-right: 5px;
}



/* enterprise */
.pen {
    border: 1px solid black;
}

.jpn {
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.jpn>li {
    list-style: none;

}


.call-us {
    align-items: flex-end;
    padding: 10px;
    background-color: #0061ff;
    color: white;

}

.sales {
    padding: 25px 0px;
    font-weight: bold;

}

.sol {
    width: calc(100% /3 *2);
    font-size: 11px;
    padding: 10px 0px 40px;
}

.pen {
    padding: 20px 30px;
}

.jpn>li:first-child {
    font-size: 18px;
    font-weight: bold;
}



/* enterprise */


/* Entra in contatto con un partner Dropbox*/


.riga1 {
    margin: auto;
    padding: 50px 0px 100px;
    justify-content: center;
}

.col-big {
    background-image: url(../img/partner.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
}

.col-small {
    width: 40%;
    padding: 40px 30px 120px;
}

.text {
    font-size: 13px;
    padding: 20px 0px;
}

.enter {
    font-size: 20px;
    font-weight: bold;
}

.find-partner {
    padding: 10px 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 50%;
    align-content: flex-start;
    font-size: 13px;
}

/* Entra in contatto con un partner Dropbox*/




/* 6box  layout  */

.tools {
    flex-wrap: wrap;
    gap: 30px 20px;
    padding: 40px 0px;

}

.tool {
    width: calc(100% / 3 - 20px);

}

.tool .tool-image {

    margin-bottom: 10px;
}

.tool .tool-image img {
    width: 100%;
}

.long-script {
    padding: 25px 0px 50px;
    font-size: 13px;
}

/* 6box  layout  */

.moore {
    width: 60%;
    font-size: 30px;
    font-weight: 700;
    justify-content: flex-start;
    padding: 50px 0px 30px;
}



















.sacco {}


#square-vw .papera {

    border: 1px solid red;
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.gg {
    width: 50%;
    height: 50%;
    border: 1px solid black;
}